input {
  background-color: rgba(0,0,0,0);
  -webkit-user-select: auto;
  user-select: auto;
  color: white;
  border: 0;
  border-bottom: 1px solid white;
}

.pac-item {
  background-color: #000000;
}

.pac-item:hover {
  background-color: #242424;
}

.pac-container {
  background-color: #000000;
  box-shadow: 0 0 0 1px #d9d9d9;
}

.pac-item-query {
  color: white;
}

.pac-item-query:hover {
  background-color: #242424;
}
